.BasicMainContainer {
  padding-left: 20px;
  padding: 20px;
}
.Basic1Heading {
  font-family: 'Roboto';
  font-size: 70px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  margin-top: 0px;
}
.Basic1Span {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 10px;
}
.ContainerBasicBgGreen {
  background-color: #e9fce9;
  line-height: 2;
  border-top-color: #37ced5;
  border-bottom-color: #37ced5;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  text-align: center;
}
.BasicParaR {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
}
.BottomContainerR {
  padding-left: 20px;
  padding: 20px;
  margin-top: 30px;
}
.BasicParaBR {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 18px;
}
.ul-stylingR {
  list-style-type: none;
  padding: 0px;
}
.list-styleR {
  display: flex;
  align-items: center;
}
.list-paraR {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  margin-left: 20px;
  line-height: 0.7;
}
.Btn-styleR {
  width: 100%;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 20px;
  height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  outline: none;
  border-width: 0px;
}
